@media only screen and (max-width: 900px){
    .main{
        width: 100%;
    }

    .nav{
        width: 200px;
        margin: 0 20px 0 20px;
    }

    .hero-area{
        width: 500px;
        margin: 0 20px 0 20px;
    }

    .selfBio{
        width: 90%;
    }
}


@media only screen and (max-width: 800px){
    
    .nav{
        display: none;
    }

    .main{
        width: 100%;
        margin: 0;
    }

    .hero-area{
        width: 100%;
        margin: 0;
    }

    .nav.showNav{
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .toggleNav{
        display: block;
    }
}